<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.sys.mapper.SysApiMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.sys.model.SysApi">
		<id column="id" property="id" />
		<result column="version_number" property="versionNumber" />
		<result column="module_id" property="moduleId" />
		<result column="endpoint" property="endpoint" />
		<result column="custom_data" property="customData" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, version_number AS versionNumber, module_id AS moduleId, endpoint, custom_data AS customData
    </sql>
</mapper>
