<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.sys.mapper.SysRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.sys.model.SysRole">
		<id column="id" property="id" />
		<result column="tenant_id" property="tenantId" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="preset_id" property="presetId" />
		<result column="data_scope" property="dataScope" />
		<result column="descript" property="descript" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="del_flag" property="delFlag" />
		<result column="enable" property="enable" />
		<result column="custom_data" property="customData" />
	</resultMap>
	
	<resultMap id="SysRoleVoResultMap" type = "com.aek.ebey.sys.model.vo.SysRoleVo">
		<id column="id" property="id" />
        <result column="name" property="name" />
        <result column="check" property="check" />
	</resultMap>
	
	<resultMap id="SysTenantRoleVoResultMap" type="com.aek.ebey.sys.model.vo.SysTenantRoleVo">
		<id column="id" property="tenantId" />
        <result column="name" property="tenantName" />
        <result column="userId" property="userId" />
        <collection property="roles" ofType="com.aek.ebey.sys.model.vo.SysRoleVo" select="selectByUserIdAndTenantId" column = "{tenantId=id,userId=userId}" /> 
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, tenant_id AS tenantId, name, code, preset_id AS presetId, data_scope AS dataScope, descript, 
		create_by AS createBy,create_time AS createTime, update_by AS updateBy,update_time AS updateTime, del_flag AS delFlag, 
		enable, custom_data AS customData
	</sql>
	
	<!-- 查询当前用户在某机构下拥有的角色 -->
	<select id="selectByUserIdAndTenantId" resultMap="SysRoleVoResultMap" parameterType="java.util.Map" >
		select r.id,r.name,(case when u.id is not null then true else false end) as  'check' 
		from sys_role  r
		left join sys_role_user  u on r.id = u.role_id and u.user_id=#{userId}
		where r.enable=true and r.del_flag=false and r.tenant_id=#{tenantId}
	</select>
	
	<!-- 查询当前用户当前机构及其子机构所有角色 -->
	<select id="selectAllRoleByUserIdAndTenantId" resultMap="SysTenantRoleVoResultMap">
		SELECT id,name,#{userId} as userId
		FROM sys_tenant 
		WHERE (del_flag = false AND (parent_ids LIKE CONCAT('',#{parentIds},'%') or id=#{tenantId}) AND enable = true)
	</select>
</mapper>
